# Logs
logs
log
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Optional npm cache directory
.npm

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Optional REPL history
.node_repl_history

# yarn
yarn.lock

# env
.env

# webstorm
.idea
